.container {
    max-width: 1240px;
    margin: 0 auto;
    
    select {
        float: right;
    }

    .searchContainer {
        margin: 15px 0 55px;

        input[type="text"] {
            width: 100%;
            padding: 10px 20px;
            font-size: 16px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid #000;
        }
    }

    .movieContainer {
        width: 300px;
        height: 300px;
        display: inline-block;
    
        .posterContainer {
            width: 100%;
            height: 90%;
    
            img{
                width: 100%;
                height: 100%;
            }
        }
    
        .titleText {
            float: left;
        } 
        .yearText {
            float: right;
        }
    }
}

.appButton {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.appButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.appButton.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
